In [21]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv(r"C:\Users\najuw\OneDrive\Documentos\GitHub\ENS410064\dados_de_entrada\SC.csv", sep=';', encoding='latin1')
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Codigo,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,30,Capivari de Baixo,SC_002,PTS,20,ug/m3,Automatica,Referencia
1,2023,1,1,1,30,Capivari de Baixo,SC_002,PTS,17,ug/m3,Automatica,Referencia
2,2023,1,1,2,30,Capivari de Baixo,SC_002,PTS,21,ug/m3,Automatica,Referencia
3,2023,1,1,3,30,Capivari de Baixo,SC_002,PTS,16,ug/m3,Automatica,Referencia
4,2023,1,1,4,30,Capivari de Baixo,SC_002,PTS,17,ug/m3,Automatica,Referencia
...,...,...,...,...,...,...,...,...,...,...,...,...
201475,2023,12,31,19,30,Vila Moema,SC_001,CO,"0,0805",ppm,Automatica,Referencia
201476,2023,12,31,20,30,Vila Moema,SC_001,CO,"0,0929",ppm,Automatica,Referencia
201477,2023,12,31,21,30,Vila Moema,SC_001,CO,"0,1171",ppm,Automatica,Referencia
201478,2023,12,31,22,30,Vila Moema,SC_001,CO,"0,165",ppm,Automatica,Referencia
201479,2023,12,31,23,30,Vila Moema,SC_001,CO,"0,17",ppm,Automatica,Referencia