## Utilizando o pacote OS

Baixando os dados do site do Leo

In [12]:
# Importando pacote os
import os

In [18]:
#Extraindo o diret처rio que estamos trabalhando
cwd = os.getcwd()
cwd

#Estabelecendo a pasta de dados que quero utilizar
dataPath = os.path.dirname(cwd) + '\\dados_de_entrada'
print('Diret처rio de dados:' + dataPath)

Diret처rio de dados:C:\Users\najuw\OneDrive\Documentos\GitHub\ENS410064\2024\dados_de_entrada

In [ ]:
# Listar documentos que est찾o dentro da pasta de dados
dataList = os.listdir(dataPath)
print(dataList)

In [42]:
# Extraindo os anos dos dados
years = []
for dl in dataList:
    years.append(dl.split('_')[-1].split('.')[0])

print(years)

['metar2022', 'metar2023']

In [20]:
import pandas as pd

In [32]:
# Lendo todos os arquivos da pasta
dataAll=[]
for dl in dataList:
    print(dl)
    data = pd.read_csv(dataPath + '\\' + dl)
    dataAll.append(data)

#Concatenando a lista de dados
dataAll = pd.concat(dataAll)
dataAll.head()

metar2022.csv
metar2023.csv

,day,month,year,hour,ct,wd,ws,hc,ccp,cco,p,temp,dpTemp,vis,pw,relh
0,1,1,2022,0,NaN,120.0,1.543332,914.4,1.0,1.0,1009.678792,23.0,21.0,NaN,0.0,88.51
1,1,1,2022,1,NaN,280.0,1.028888,NaN,NaN,NaN,1009.685980,20.0,20.0,NaN,0.0,100.00
2,1,1,2022,2,NaN,NaN,0.514444,NaN,NaN,NaN,1009.678792,22.0,21.0,NaN,0.0,94.06
3,1,1,2022,3,NaN,NaN,1.028888,457.2,1.0,1.0,1009.682386,21.0,21.0,NaN,0.0,100.00
4,1,1,2022,4,NaN,NaN,1.028888,NaN,NaN,NaN,1009.685980,22.0,20.0,NaN,0.0,88.43