# Aula 1 - Python em Aplicações Ambientais

Iremos agora instalar a biblioteca que usaremos na próxima aula para importar e analisar nossa série temporal: **pandas**.

Para instalar pacotes aqui, no Jupyter, vamos usar a notação "!", sem aspas, e o comando de instalação.

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 2.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 KB 2.7 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Collecting pytz>=2020.1
  Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Collecting numpy>=1.22.4
  Using cached numpy-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [28]:
# Importando o pandas
import pandas as pd

# Importando a biblioteca nativa (que já vem com a linguagem) chamada datetime
from datetime import datetime

In [16]:
# Ler o arquivo de base/exemplo
df = pd.read_csv('dados_de_entrada/emissoes_exemplo.csv', sep=';')
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Codigo,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,0,Camara,BA_010,SO2,5.652,ug/m3,Automatica,Referencia
1,2023,1,1,1,0,Camara,BA_010,SO2,5.604,ug/m3,Automatica,Referencia
2,2023,1,1,2,0,Camara,BA_010,SO2,5.573,ug/m3,Automatica,Referencia
3,2023,1,1,3,0,Camara,BA_010,SO2,5.438,ug/m3,Automatica,Referencia
4,2023,1,1,4,0,Camara,BA_010,SO2,5.604,ug/m3,Automatica,Referencia
...,...,...,...,...,...,...,...,...,...,...,...,...
138084,2023,12,31,6,0,Escola,BA_007,NOX,NaN,ug/m3,Automatica,Referencia
138085,2023,12,31,7,0,Escola,BA_007,NOX,NaN,ug/m3,Automatica,Referencia
138086,2023,12,31,8,0,Escola,BA_007,NOX,NaN,ug/m3,Automatica,Referencia
138087,2023,12,31,9,0,Escola,BA_007,NOX,NaN,ug/m3,Automatica,Referencia
138088,2023,12,31,10,0,Escola,BA_007,NOX,NaN,ug/m3,Automatica,Referencia

In [65]:
# Filtrando dados válidos de SO2, para a estação BA_010.
# Para tornar didática a visualização, vamos manter somente valores abaixo de 150
filtred_so2_df = df.loc[
    (df['Poluente'] == 'SO2') & # Filtrando apenas poluentes em SO2
    (df['Codigo'] == 'BA_010') & # Filtrando apenas poluentes em SO2
    (df['Valor'] >= 0) &         # Filtrando apenas valores maiores que 0
    (df['Valor'] <= 150)         # Filtrando apenas valores menores que 150, para fins didáticos
]

# Formatando data e adicionando ao índice
filtred_so2_df.loc[:, 'Date'] = df[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto']].apply(lambda x: datetime(x['Ano'], x['Mes'], x['Dia'], x['Hora'], x['Minuto']), axis=1)

# Colocando a coluna "Data" como índice
filtred_so2_df = filtred_so2_df.set_index('Date')

# Selecionando somente os dados importantes para minha análise
filtred_so2_df = filtred_so2_df[['Valor', 'Unidade', 'Tipo', 'Testacao']]
filtred_so2_df

                     Valor Unidade        Tipo    Testacao
Date
2023-01-01 00:00:00  5.652   ug/m3  Automatica  Referencia
2023-01-01 01:00:00  5.604   ug/m3  Automatica  Referencia
2023-01-01 02:00:00  5.573   ug/m3  Automatica  Referencia
2023-01-01 03:00:00  5.438   ug/m3  Automatica  Referencia
2023-01-01 04:00:00  5.604   ug/m3  Automatica  Referencia
...                    ...     ...         ...         ...
2023-12-31 06:00:00  1.500   ug/m3  Automatica  Referencia
2023-12-31 07:00:00  1.300   ug/m3  Automatica  Referencia
2023-12-31 08:00:00  1.200   ug/m3  Automatica  Referencia
2023-12-31 09:00:00  1.100   ug/m3  Automatica  Referencia
2023-12-31 10:00:00  0.900   ug/m3  Automatica  Referencia

[7593 rows x 4 columns]

In [66]:
# Obtendo estatísticas
filtred_so2_df.describe()

             Valor
count  7593.000000
mean      1.388973
std       2.644027
min       0.000000
25%       0.200000
50%       0.876000
75%       1.941000
max     101.157000

In [11]:
!pip install matplotlib

Requirement already satisfied: matplotlib in ./venv/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: numpy>=1.23 in ./venv/lib/python3.10/site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.10/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.10/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
# Importando patches para adicionar item de legenda
import matplotlib.patches as mpatches

# Potando dados válidos e adicionando o eixo de plotagem a uma variável
ax = filtred_so2_df['Valor'].plot(ylabel='Concentração de SO2')

# Plotando a área do desvio padrão
mean = filtred_so2_df['Valor'].mean()
std = filtred_so2_df['Valor'].std()
number_elements = len(filtred_so2_df['Valor'])

ax.fill_between(
    filtred_so2_df.index, number_elements * [mean - std], number_elements * [mean + std],
    color='green', alpha=.2)

# Pegando um valor médio
mean_df = filtred_so2_df[['Valor']].copy()
mean_df.loc[:, 'Mean'] = mean
mean_df = mean_df[['Mean']]
mean_df.plot(ax=ax)

# Adicionando Standard Deviation na legenda
std_legend = mpatches.Patch(color='green', alpha=.2)
handles, labels = ax.get_legend_handles_labels()
handles.append(std_legend)
labels.append('Standard Deviation')
ax.legend(handles, labels)