In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\najuw\onedrive\documentos\github\ens410064\pyenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [8]:
df = pd.read_csv(r"C:\Users\najuw\OneDrive\Documentos\GitHub\ENS410064\dados_de_entrada\SC.csv", sep=';', encoding='latin1')
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Codigo,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,30,Capivari de Baixo,SC_002,PTS,20,ug/m3,Automatica,Referencia
1,2023,1,1,1,30,Capivari de Baixo,SC_002,PTS,17,ug/m3,Automatica,Referencia
2,2023,1,1,2,30,Capivari de Baixo,SC_002,PTS,21,ug/m3,Automatica,Referencia
3,2023,1,1,3,30,Capivari de Baixo,SC_002,PTS,16,ug/m3,Automatica,Referencia
4,2023,1,1,4,30,Capivari de Baixo,SC_002,PTS,17,ug/m3,Automatica,Referencia
...,...,...,...,...,...,...,...,...,...,...,...,...
201475,2023,12,31,19,30,Vila Moema,SC_001,CO,"0,0805",ppm,Automatica,Referencia
201476,2023,12,31,20,30,Vila Moema,SC_001,CO,"0,0929",ppm,Automatica,Referencia
201477,2023,12,31,21,30,Vila Moema,SC_001,CO,"0,1171",ppm,Automatica,Referencia
201478,2023,12,31,22,30,Vila Moema,SC_001,CO,"0,165",ppm,Automatica,Referencia
201479,2023,12,31,23,30,Vila Moema,SC_001,CO,"0,17",ppm,Automatica,Referencia

In [36]:
df['Valor'] = pd.to_numeric(df['Valor'], errors='coerce')
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Codigo,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,30,Capivari de Baixo,SC_002,PTS,20.0,ug/m3,Automatica,Referencia
1,2023,1,1,1,30,Capivari de Baixo,SC_002,PTS,17.0,ug/m3,Automatica,Referencia
2,2023,1,1,2,30,Capivari de Baixo,SC_002,PTS,21.0,ug/m3,Automatica,Referencia
3,2023,1,1,3,30,Capivari de Baixo,SC_002,PTS,16.0,ug/m3,Automatica,Referencia
4,2023,1,1,4,30,Capivari de Baixo,SC_002,PTS,17.0,ug/m3,Automatica,Referencia
...,...,...,...,...,...,...,...,...,...,...,...,...
201475,2023,12,31,19,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201476,2023,12,31,20,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201477,2023,12,31,21,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201478,2023,12,31,22,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201479,2023,12,31,23,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia

In [46]:
df.dtypes

Ano           int64
Mes           int64
Dia           int64
Hora          int64
Minuto        int64
Estacao      object
Codigo       object
Poluente     object
Valor       float64
Unidade      object
Tipo         object
Testacao     object
dtype: object

In [39]:
df['Valor'] = pd.to_numeric(df['Valor'], errors='coerce')
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Codigo,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,30,Capivari de Baixo,SC_002,PTS,20.0,ug/m3,Automatica,Referencia
1,2023,1,1,1,30,Capivari de Baixo,SC_002,PTS,17.0,ug/m3,Automatica,Referencia
2,2023,1,1,2,30,Capivari de Baixo,SC_002,PTS,21.0,ug/m3,Automatica,Referencia
3,2023,1,1,3,30,Capivari de Baixo,SC_002,PTS,16.0,ug/m3,Automatica,Referencia
4,2023,1,1,4,30,Capivari de Baixo,SC_002,PTS,17.0,ug/m3,Automatica,Referencia
...,...,...,...,...,...,...,...,...,...,...,...,...
201475,2023,12,31,19,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201476,2023,12,31,20,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201477,2023,12,31,21,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201478,2023,12,31,22,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia
201479,2023,12,31,23,30,Vila Moema,SC_001,CO,NaN,ppm,Automatica,Referencia

In [52]:
# Filtrar dados apenas da estaÃ§Ã£o SC_002 e poluentes que vou analisar

filtred_SC_002_df = df.loc[
(df['Codigo'] == 'SC_002') &
(df['Poluente'].isin(['MP10', 'PTS', 'SO2', 'NO2'])) &
(df['Valor'] >= 0)]

filtred_SC_002_df.loc[:, 'Date'] = df[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto']].apply(lambda x: datetime(x['Ano'], x['Mes'], x['Dia'], x['Hora'], x['Minuto']), axis=1)

filtred_SC_002_df = filtred_SC_002_df.set_index('Date')

filtred_SC_002_df = filtred_SC_002_df[['Poluente','Valor', 'Unidade', 'Tipo', 'Testacao']]
filtred_SC_002_df

C:\Users\najuw\AppData\Local\Temp\ipykernel_988\156482116.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtred_SC_002_df.loc[:, 'Date'] = df[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto']].apply(lambda x: datetime(x['Ano'], x['Mes'], x['Dia'], x['Hora'], x['Minuto']), axis=1)

                    Poluente  Valor Unidade        Tipo    Testacao
Date
2023-01-01 00:30:00      PTS   20.0   ug/m3  Automatica  Referencia
2023-01-01 01:30:00      PTS   17.0   ug/m3  Automatica  Referencia
2023-01-01 02:30:00      PTS   21.0   ug/m3  Automatica  Referencia
2023-01-01 03:30:00      PTS   16.0   ug/m3  Automatica  Referencia
2023-01-01 04:30:00      PTS   17.0   ug/m3  Automatica  Referencia
...                      ...    ...     ...         ...         ...
2023-12-16 07:30:00      NO2    8.0   ug/m3  Automatica  Referencia
2023-12-17 18:30:00      NO2    6.0   ug/m3  Automatica  Referencia
2023-12-23 02:30:00      NO2    6.0   ug/m3  Automatica  Referencia
2023-12-29 05:30:00      NO2    9.0   ug/m3  Automatica  Referencia
2023-12-31 09:30:00      NO2   19.0   ug/m3  Automatica  Referencia

[17569 rows x 5 columns]

In [53]:
print(filtred_SC_002_df['Poluente'].unique())

['PTS' 'SO2' 'MP10' 'NO2']